/* This is my CSS file!*/

/*setting the map height by calling it by the object id*/
#map { height: 800px;
      width: 80%;;
    display: inline-block;}

#panel{width: 16%;
        padding: 20px;
      display:inline-block;
    vertical-align: top;}
.range-slider{
  width: 90%;
}
#forward{
    width: 50%;
  float: right;
}
#reverse{
  width: 50%;
  float: left;
}
/*#slider{width: 80%}*/
#popup-info{width:80%}
